<div class="displayBox">
    <h2>Candidates</h2>
    <ul>
        <li [class.selected]="crew.includes(member)" *ngFor="let member of candidates; let i = index"
            (click)="addCrewMember(member)">{{member.name}}

            <button (click)="update(i)">update</button>
            <div [hidden]="isUpdate[i] === false">
            <form>
                <input  type="text" [(ngModel)]="candidateName" name="name" placeholder="name"/> <br>
                <input  type="text" [(ngModel)]="candidatePhoto" name="photo" placeholder="photo"/> <br>
                <button (click)="updateCandidate(member, candidateName, candidatePhoto)" type = "submit">submit</button>
            </form>
            </div>
<!--            <button (click)="updateCandidate(member, candidateName, candidatePhoto)" type = "submit">update</button>-->
<!--            <button (click)="update()">update</button>-->
<!--            <span *ngIf="isUpdate; else updateBlock">-->


            <button (click)="deleteCandidate(member)">delete</button>
<!--            </span>-->
        </li>

    </ul>

    <form (submit)="addCandidate()">

        <input  type="text" [(ngModel)]="candidateName" name="name" placeholder="name"/> <br>
        <input  type="text" [(ngModel)]="candidatePhoto" name="photo" placeholder="photo"/> <br>
        <button [disabled]="isCandidateAdded()" type="submit">Submit</button>
    </form>
    <ng-template #updateBlock>
<!--        <input  type="text" [(ngModel)]="candidateName" name="name" placeholder="name"/> <br>-->
<!--        <input  type="text" [(ngModel)]="candidatePhoto" name="photo" placeholder="photo"/> <br>-->
<!--        <button (click)="updateCandidate(candidate, candidateName, candidatePhoto)" type = "submit">submit</button>-->
    </ng-template>

</div>
<hr>
<div class="displayBox">
    <h2>Crew <!-- Add a span tag here to display 'Full' when the crew reaches 3. --></h2>
    <p *ngIf="crew.length === 3">Full</p>
    <ol>
        <li *ngFor="let astronaut of crew " (mouseover)="selected = astronaut "
            (mouseout)="selected = false">{{astronaut.name}}</li>

    </ol>
    <!-- Add an img tag here to display astronaut photos. -->
    <img *ngIf="selected" [src]="selected.photo" alt=""/>
</div>


