<div class="displayBox">
    <h2>Equipment</h2>
    <ol>
        <li *ngFor="let item of equipmentItems; let i = index">

            <span *ngIf="maxItems > cargoHold.length && item.mass + cargoMass <= maximumAllowedMass; else disabledBlock">
            <button (click)="addItem(item, i)" [disabled]="disablebutton[i]">Add to Cargo Hold</button>
            </span>
            {{item.name}}, {{item.mass}} kg


            <ng-template #disabledBlock>
                <button  [disabled]="item.mass + cargoMass > maximumAllowedMass || cargoHold.length >= maxItems" >Can't Add to Cargo Hold</button>
            </ng-template>
        </li>
    </ol>
</div>

<hr>

<div class = "displayBox">

    <h2>Cargo Hold: {{cargoHold.length}}/{{maxItems}} Spots Filled</h2>

    <ol>
        <li *ngFor="let equipment of cargoHold">{{equipment.name}}
            <button (click)="deleteEquipment(equipment)">delete</button>
        </li>
    </ol>
    <p>Mass in Hold: {{cargoMass}} kg</p>
    <p [class.nearMaxMass] = remainMass() > Mass Budget Remaining: {{maximumAllowedMass - cargoMass}} kg</p>
    <!-- Add the "Empty Hold" button here. -->
    <button (click)="emptyCargoHold()">Empty Hold</button>
</div>


